[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "izulu"
version = "0.5.2"
authors = [
  { name="Dima Burmistrov", email="pyctrl.dev@gmail.com" },
]
description = "An exceptional library"
readme = "README.rst"
license = {file = "LICENSE"}

requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
keywords = ["error", "exception", "oop", "izulu"]

[project.urls]
"Homepage" = "https://gitlab.com/pyctrl/izulu"
"Bug Tracker" = "https://gitlab.com/pyctrl/izulu/-/issues"
